@font-face {
    font-family: Oswald;
    src: url(/assets/external/fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(/assets/external/fonts/Orbitron/Orbitron-Regular.ttf);
}

@font-face {
    font-family: OrbitronBold;
    src: url(/assets/external/fonts/Orbitron/Orbitron-Bold.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(/assets/external/fonts/RobotoMono/RobotoMono-Regular.ttf);
}

footer {
    text-align: center;
    font-variant: small-caps;
    font-size: 0.8rem;

    .revision {
        font-variant: normal;
        color: rgb(200, 200, 200);
    }
}

textarea {
    font-family: monospace;
}

h1 {
    padding-left: 1em;
}
