@font-face {
    font-family: Oswald;
    src: url(/assets/external/fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: Orbitron;
    src: url(/assets/external/fonts/Orbitron/Orbitron-Regular.ttf);
}

@font-face {
    font-family: OrbitronBold;
    src: url(/assets/external/fonts/Orbitron/Orbitron-Bold.ttf);
}

@font-face {
    font-family: RobotoMono;
    src: url(/assets/external/fonts/RobotoMono/RobotoMono-Regular.ttf);
}

footer {
    text-align: center;
    font-variant: small-caps;
    font-size: 0.8rem;

    .revision {
        font-variant: normal;
        color: rgb(200, 200, 200);
    }
}

textarea {
    font-family: monospace;
}

h1 {
    padding: 0.5rem;
    padding-bottom: 0.4rem;
    padding-right: 5rem;
    position: relative;
    border-left: 2px solid beige;
    overflow: hidden;

    &:after {
        position: absolute;
        content: '';
        width: calc(100% - 2px);
        left: 0px;
        z-index: -1;
    }
    &:after {
        height: 100%;
        bottom: 0px;
        //border: 2px solid beige;
        //border-width: 0px 3px 2px 0px;
        transform: skew(-55deg);
        transform-origin: left top;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .btn {
        font-family: $font-family-base;
    }
}

body {
    background: url(/assets/external/img/stardust/stardust.png);
}

.container-fluid {
    margin-top: 60px;
}

form {
    &.inline {
        margin: 0;
    }
}
