@font-face {
    font-family: OpenSans;
    src: url(/assets/external/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/assets/external/fonts/Pacifico.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/assets/external/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: DroidSansMono;
    src: url(/assets/external/fonts/DroidSansMono.ttf);
}

footer {
    text-align: center;
    font-variant: small-caps;
    font-size: 0.8rem;

    .revision {
        font-variant: normal;
        color: rgb(200, 200, 200);
    }

    a {
        color: $gray-dark;
    }
}

textarea {
    font-family: monospace;
}

h1 {
    padding: 1rem;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 2px;
        left: 0px;
        z-index: -1;
    }

    &:after {
        height: 100%;
        bottom: 0px;
        transform-origin: left top;
        background-color: $dark-red;
    }

    .btn {
        font-family: $font-family-base;
    }
}

body {
    //background: url(/assets/external/img/stardust/stardust.png);
}

.container-fluid {
    margin-top: 60px;
}

form {
    &.inline {
        margin: 0;
    }
}

.card-block {
    &.small {
        padding: 0.1rem;
    }
}

.brand {
    font-family: "Pacifico";
    font-variant: none;
}
