
$enable-flex:               true !default;
$enable-rounded:            false !default;

// COLORS

$red: #B9121B;
$dark-red: #4C1B1B;
$cream: #F6E497;
$light-cream: #FCFAE1;
$dark-cream: #BD8D46;


$gray-dark:                 #373737 !default;
$gray:                      #555555 !default;
$gray-light:                #8a8a8a !default;
$gray-lighter:              #eeeeee !default;
$gray-lightest:             #f7f7f7 !default;

$brand-primary:             #2980B9 !default;
$brand-success:             #ECF0F1 !default;
$brand-info:                #2C3E50 !default;
$brand-warning:             #67221B !default;
$brand-danger:              #E74C3C !default;
$brand-inverse:             $gray-dark !default;

$body-color: $gray-dark !default;


// FONTS

$font-family-sans-serif: 'Lato' !default;
$font-family-serif:      'Lato' !default;
$font-family-monospace:  'DroidSansMono' !default;
$font-family-base:       $font-family-sans-serif !default;

$headings-font-family:   'OpenSans' !default;
