
// FONTS

$font-family-sans-serif: 'Oswald' !default;
$font-family-serif:      'Oswald' !default;
$font-family-monospace:  'RobotoMono' !default;
$font-family-base:       $font-family-sans-serif !default;

$headings-font-family:   'Orbitron' !default;
